.button {
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:active {
        transform: scale(0.9);
    }
}

.primery-button {
    background-color: rgb(156, 112, 0);
    color: black;
}