@mixin flex-col($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    @include flex-col(1rem);
    min-width: 350px;
    font-family: "Montserrat Alternates", sans-serif;

    .logheading{
      text-align: center;
      h1{
        font-size:5rem;
      }
      h2{
        font-size:3rem
      }
    }

    .forget {
      color: #fff;
      margin-top: 15px;
      margin-right: 20px; 
      font-size: 15px; 
      text-align: right;
    }

    a {
      color: rgb(43, 255, 0);
    }
  }

  form {
    @include flex-col(1rem);

    input {
      border: none;
      outline: none;
      padding-inline: 1rem;
      padding-block: 1rem;
      font-size:1rem;
      border-radius: 0.5rem;
    }
  }
}