
h1{
  text-align: center;
  margin:1rem;
  font-size:5rem;
  filter:blur(1px);
}
.form-container {
  margin:12rem auto;
  width:100%;
  color:rgb(255, 255, 255);
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
}
.forminfo{
  text-align: center;
}
input{
  color:#000000;
  font-size:15px;
  margin-top:1rem;
  background-color: white;
  border-radius:0.3rem;

  
}

input {
  padding-inline: 1.5rem;
  padding-block: 1rem;
}

.enterinfo::placeholder {
    color: #000000;
  }

.google-btn {
  margin-top: 15px;
  padding: 5px;
  width: 90%;
  background-color:rgb(156, 112, 0); 
  border:1px solid goldenrod;
  color: rgb(0, 0, 0);
  border-radius:1rem;
  font-size: 16px;
  cursor: pointer;
}